<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6cFy_SLRG68OAWmaKNdTz1XdM4jNei_U</string>
	<key>GCM_SENDER_ID</key>
	<string>400272318117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bendeFazlaFinal</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-a69ce</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-a69ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400272318117:ios:fd56d3743ab0f33396774c</string>
</dict>
</plist>